
.categories-item{
    position: relative;
}
.title-md::after{
    content: '';
    position: absolute;
    background-color:limegreen;
    height: 100%;
    width: 10px;
    top: 0;
    left: 0;
   
 

}
h6{
    color: #777 !important;
}
p{
    color: #777 !important;
}
.b{
    position: absolute;
    top: 0;
    
}
.back{
    background-color: whitesmoke;
}
.child{
    color:black;
}
.pragraph{
    color:#999 !important
}
.ds{
    background-color: whitesmoke !important;

}
.btn1{
    background-color: lime;
}
.btn1:hover{
    background-color: lime;

}
.img{
    transition: 0.5s;
   
}
.img:hover{
    transform: scale(1.06,1.06);
    border: 3px solid green;
}